body {
    width: 100%;
    height: 700px;
    background-color: rgb(204, 236, 245);
}
.ye1 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}
.ye2 {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
}
.head {
    width: 100%;
    height: 50px;
    line-height: 40px;
    text-align: center;
    background-color: blanchedalmond;
    margin-bottom: 10px;
    font-size: 26px;
}
.xmdt {
    width: 10%;
}
.liuyan {
    width: 20%;
    border: 2px goldenrod solid;
}
.guding {
    position: fixed;

}
.select {
    margin-left: 57px;
}
.select button {
    position: relative;
    z-index: 4;
    width: 50px;
    height: 23px;
    background-color: rgb(177, 166, 140);
    color: white;
    border-radius: 5px 5px 0 0;
    border: 1px rgb(65, 64, 64) solid;
}
.shiming input {
    position: relative;
    z-index: 4;
    width: 350px;
    height: 25px;
}
.shiming,.niming {
    height: 25px;
    margin: 2px 0;
}

.all2 {
    position: absolute;
    width: 650px;
    height: 800px;
    right: 50px;
    padding-top: 30px;
}
textarea {
    position: relative;
    z-index: 4;
    width: 600px;
    height: 100px;
    padding: 0;
    border-radius: 2px;
}
.content {
    width: 600px;
    height: 500px;
    border: 3px darkgray solid;
}
#clear {
    position: relative;
    z-index: 4;
    width: 50px;
    height: 25px;
    border: 1px rgb(105, 101, 101) solid;
    background-color: antiquewhite;
}
#time1 {
    margin-left: 100px;
}
#send {
    position: relative;
    z-index: 4;
    width: 70px;
    height: 25px;
    background-color: antiquewhite;
    border: 1px gray solid;
    margin-left: 192px;
}
.content {
    margin-top: 5px;
}
#add {
    width: 100%;
    background-color: rgb(218, 235, 250);
    margin-bottom: 2px;
}
#add label {
    padding: 20px 0;
}
#add hr {
    width: 100%;
    height: 2px;
    background-color: darkgray;
}